
.App {
  text-align: center;
  font-family: 'Roboto';
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite alternate 3s linear;
    -webkit-animation: App-logo-spin infinite alternate 3s linear;
}
}

.App-header {
  background-color: #61dafb;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.App-link {
  color: #61dafb;
}

.Footer {
  min-height: 10vh;
  padding-top: 20px;
  margin-top: 50px;
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -o-transform: rotate(320deg);
}
  to {
    transform: rotate(420deg);
    -webkit-transform: rotate(420deg);
    -moz-transform: rotate(420deg);
    -ms-transform: rotate(420deg);
    -o-transform: rotate(420deg);
}
}

Button {
  color: gray;
  background-color: lightgreen;

}

Button:hover {
  color: white;
  background: lightsteelblue;
}
